.kick{
    color: red;
    padding-left: 10px;
}
.kick:hover{
    font-weight: bolder;
    cursor: pointer;
}
.buzzer {
    width: calc(200px + 10vw);
    height: calc(200px + 10vw);
    border-radius: 50%;
    background-color: #0080ff;
    color:rgb(0, 0, 0);
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.buzzer:disabled{
    background-color: #6e89a8;
    color: rgb(0, 0, 0);
}
.checks{
    flex-direction: column;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14pt;
}
.checks input[type=checkbox] {
    width: 20px;
    height: 20px;
} 
.first {
    background-color: rgb(255, 191, 0);
}
.buzzed {
    background-color: rgb(0, 186, 0);
}
.card{
    width: fit-content;
    max-height: 25px;
    min-width: 50px;
    min-height: 25px;
    border-radius: 10px;
    color: black;
    font-size: 12pt;
}
.unbuzzed {
    background-color: rgb(255, 72, 0);
}